torch==2.3.1+cu121 --extra-index-url https://download.pytorch.org/whl/cu121
transformers
sentence-transformers
pinecone-client
langchain
langchain-community
faiss-cpu
flask
ctransformers
pypdf
langchain-pinecone
llama-cpp-python